<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link href="static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container"> 
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    <span class="base" data-ui-id="page-title-wrapper" >From Profile</span>
                </h1>
            </div>    
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Nama Lengkap</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Nama Ibu Kandung</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${profile}">
                        <td th:text="${p.user.email}"></td>
                         <td th:text="${p.nama}"></td>
                         <td th:text="${p.alamat}"></td>
                         <td th:text="${p.ibukandung}"></td>
                         <td>
                             <a href="edit.html" th:href="@{/edit(id=${p.id})}">Edit</a>
                         </td>
                    </tr>   
                    
                    
                </tbody>
            </table>
            <div class="col-md-4 col-md-offset-4 form-login">
            <form th:action="@{/logout}" class="inner-login" method="post">
            <input type="submit" class="btn btn-block btn-custom-green" value="LOGOUT" />
            </form>
            </div>
        </div>
    </body>
</html>
